[submodule "impulsus"]
	path = impulsus
	url = https://github.com/michael-barchy/impulsus
[submodule "examples/tasks/impulsus"]
	path = examples/tasks/impulsus
	url = https://github.com/michael-barchy/impulsus
