<!DOCTYPE html>
<html>

<head>
    <title>Koncerto | Playground</title>
    <base href="[var._SERVER.APP_PREFIX]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <style content="text/css">
        :root {
            --bulma-primary-h: 281deg;
            --bulma-primary-l: 72%;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/line-awesome@1.3.0/dist/line-awesome/css/line-awesome.min.css">
</head>

<body>
    <div class="container is-fluid px-0">
        <section id="menu">[onload;file=templates/_menu.tbs.html]</section>
        <section id="main" class="hero mt-5">
            <div class="hero-body">
                <p class="title">Koncerto Playground</p>
                <p class="subtitle">@todo</p>
            </div>
        </section>
    </div>
</body>

</html>